include urtsb README
recursive-include urtsb_src/resource/flags *
recursive-include urtsb_src/resource/icons *
recursive-include urtsb_src/resource/win_gtk *
include urtsb_src/resource/geoip/GeoIP.dat